body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#6d0019,#c04848);
}

/* wrapper */

.login-wrapper{
width:900px;
}

/* main card */

.login-card{
display:flex;
background:rgba(255,255,255,0.95);
border-radius:20px;
overflow:hidden;
box-shadow:0 20px 40px rgba(0,0,0,0.3);
position:relative;
}

/* form side */

.login-form{
width:50%;
padding:50px;
}

.login-form h2{
margin-bottom:5px;
}

.login-form p{
color:gray;
margin-bottom:25px;
font-size:14px;
}

.login-form input,
.login-form select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}

.login-form button{
width:100%;
padding:14px;
background:linear-gradient(135deg,#8b1e3f,#b83255);
color:white;
border:none;
border-radius:30px;
font-size:15px;
font-weight:600;
cursor:pointer;
margin-top:15px;
transition:all 0.3s ease;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

/* hover effect */

.login-form button:hover{
transform:translateY(-2px);
background:linear-gradient(135deg,#6d0019,#8b1e3f);
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.login-form button:hover{
background:#5a0f1f;
}

/* image side */

.login-image{
width:50%;
}

.login-image img{
width:100%;
height:100%;
object-fit:cover;
}
#toast{
position:fixed;
bottom:25px;
right:25px;
background:#6d0019;
color:white;
padding:14px 20px;
border-radius:8px;
font-size:14px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
display:none;
animation:slideIn 0.3s ease;
}

@keyframes slideIn{
from{
transform:translateY(40px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}
.login-card::before{
content:"";
position:absolute;
inset:-30px;
background:radial-gradient(circle,
rgba(255,120,90,0.25),
transparent 70%);
filter:blur(60px);
z-index:-1;
}
body::before{
content:"";
position:fixed;
top:40%;
left:50%;
width:700px;
height:700px;
background:radial-gradient(circle,
rgba(255,60,60,0.15),
transparent 70%);
transform:translate(-50%,-50%);
filter:blur(120px);
z-index:-2;
}
.notify-btn{
position:relative;
background:transparent;
border:none;
font-size:22px;
cursor:pointer;
color:#e6c28b;
margin-right:12px;
}

.notify-count{
position:absolute;
top:-6px;
right:-6px;
background:#ff4d4d;
color:white;
font-size:11px;
padding:2px 6px;
border-radius:50%;
}
.notification-panel{
position:absolute;
top:60px;
right:20px;
width:260px;
background:#1a0008;
border:1px solid #74233b;
border-radius:10px;
padding:10px;
display:none;
}